@import 'tailwindcss';

/* theme */
@theme {
    --color-body-bg: #fcfcfc;
    --color-nav-bg-sm: #1b1b1b;
    --color-footer-bg-sm: #2D2A2A;
    --color-page-black: #282828;
    --color-page-red: #f52a32;
    --color-theme-color: #f85fd0;

    /* test */
    --test: #ffffff;
}

/* base */
@layer base {
    html {
        @apply scroll-smooth;
    }
    body {
        @apply bg-body-bg;
    }

    button {
        @apply transition cursor-pointer hover:opacity-85;
    }
}

/* compoents */
@layer components {
    .lh-ls {
        @apply leading-[100%] tracking-[0%];
    }

    .indicator {
        @apply size-[10px] rounded-full bg-[#D4D4D4];
    }

    .indicator.active {
        @apply bg-[#F52A32];
    }


    .footer-links {
        @apply flex flex-col gap-[28px];
    }
    .footer-links a {
        @apply text-[18px] font-bold leading-[100%] tracking-[0%] text-white;
    }
}

/* utilities */
@utility container {
    @apply p-[15px] mx-auto;
}
